<form ng-submit="submit()">
    <div class="container">
        <nav class="navbar navbar-light bg-faded fixed-top">
            <div class="text-center">
                <h3 align="center">Cadastro Especialista<h3>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control is-valid" ng-model="nome" placeholder="Jose da Silva" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="email">E-mail</label>
            <input type="text" class="form-control is-valid" ng-model="email" placeholder="jose@gmail.com" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control is-valid" ng-model="cpf" placeholder="123.456.789-00" required>
        </div>
        <div class="col-md-3 mb-3">
           <label for="especialidade">Especialidade</label>
             <select class="form-control" ng-model="profissao_selected" ng-options="item as item.nome for item in profissao track by item._id" required></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control is-invalid" ng-model="usuario" placeholder="jose" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control is-invalid" ng-model="senha" placeholder="********" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control is-invalid" ng-model="telefone" placeholder="34998871995" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control is-invalid" ng-model="logradouro" placeholder="Av. Mato Grosso" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="numero">Número</label>
            <input type="text" class="form-control is-invalid" ng-model="numero" placeholder="1226" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control is-invalid" ng-model="bairro" placeholder="Centro" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control is-invalid" ng-model="cidade" placeholder="Araguari" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control is-invalid" ng-model="cep" placeholder="38.440-000" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="experiencias">Experiências</label>
            <textarea class="form-control is-invalid" id="experiencias" ng-model="experiencias" placeholder="Certificado NR10, ..." rows="3"></textarea>
          </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav class="navbar bg-faded fixed-bottom">
                <div class="navbar-nav">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Cadastrar</button>
                </div>
            </nav>
        </div>
    </footer>
</form>
