<div class="container">
    <div class="row">
        <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()">
            <wz-step wz-title="Area">
                <div class="page-header">
                    <h1>Qual área?</h1>
                </div>
                <div>
                    <form>
                        <div class="form-group">
                            <fieldset>
                                <legend>Escolha qual ramo de profissionais precisa de ajuda</legend>

                                <ui-select ng-model="selected" multiple theme="selectize" title="Escolha uma áre">
                                    <ui-select-match placeholder="Escolha uma ou multiplas áreas...">{{$item.nome}}</ui-select-match>
                                    <ui-select-choices repeat="item in profissao | filter: $select.search track by item._id">
                                        <div ng-bind-html="item.nome | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </fieldset>

                        </div>
                    </form>
                </div>

                <input type="submit" wz-next value="Buscar" />
            </wz-step>

            <wz-step wz-title="Especialista">
                <div class="page-header">
                    <h1>Selecione um Profissional</h1>
                </div>
                <div>{{selected}}</div>
                <input type="submit" wz-previous value="Voltar" />
                <input type="submit" wz-next value="Avançar" />
            </wz-step>
            <wz-step wz-title="Dia">
                <div class="page-header">
                    <h1>Selecione um dia</h1>
                </div>

                <input type="submit" wz-previous value="Voltar" />
                <input type="submit" wz-next value="Avançar" />
            </wz-step>
            <wz-step wz-title="Hora">
                <div class="page-header">
                    <h1>Selecione um horário</h1>
                </div>

                <input type="submit" wz-previous value="Voltar" />
                <input type="submit" wz-next value="Avançar" />
            </wz-step>
            <wz-step wz-title="Confirmar">
                <div class="page-header">
                    <h1>Confirme os dados</h1>
                </div>

                <input type="submit" wz-previous value="Voltar" />
                <input type="submit" wz-next value="Solicitar" />
            </wz-step>
        </wizard>
    </div>

</div>


<footer class="footer">
    <div class="container">
        <nav class="navbar  bg-faded fixed-bottom">
            <div class="navbar-nav">
                <a href="#!" class="btn btn-warning btn-block btn-lg">Cancelar
                </a>
            </div>
        </nav>
    </div>
</footer>