<div app-menu menu-title="Especialista App"></div>
<table class="table table-striped">
        <thead>
                <tr>
                        <th>Data</th>
                        <th>Cliente</th>
                        <th>Avaliação</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <th scope="row">05/12/2017</th>
                        <td>Eduardo Freire</td>
                        <td>10</td>
                </tr>
                <tr>
                        <th scope="row">06/12/2017</th>
                        <td>Muller Fernandes</td>
                        <td>8</td>
                </tr>
                <tr>
                        <th scope="row">06/12/2017</th>
                        <td>Dimas Lourenço</td>
                        <td>5</td>
                </tr>
                <tr>
                        <th scope="row">07/12/2017</th>
                        <td>Jose Pereira</td>
                        <td>7</td>
                </tr>
                <tr>
                        <th scope="row">08/12/2017</th>
                        <td>Diogo Fernandes</td>
                        <td>8</td>
                </tr>
                <tr>
                        <th scope="row">10/12/2017</th>
                        <td>Honorio Silva</td>
                        <td>1</td>
                </tr>
                <tr>
                        <th scope="row">11/12/2017</th>
                        <td>Larissa Freire</td>
                        <td>10</td>
                </tr>
                <tr>
                        <th scope="row">15/12/2017</th>
                        <td>Maria Fernandes</td>
                        <td>8</td>
                </tr>
                <tr>
                        <th scope="row">15/12/2017</th>
                        <td>Paulo Lourenço</td>
                        <td>5</td>
                </tr>
                <tr>
                        <th scope="row">15/12/2017</th>
                        <td>Jose Neto</td>
                        <td>7</td>
                </tr>
                <tr>
                        <th scope="row">15/12/2017</th>
                        <td>Diogo Nogueira</td>
                        <td>8</td>
                </tr>
                <tr>
                        <th scope="row">15/12/2017</th>
                        <td>Lula Silva</td>
                        <td>1</td>
                </tr>
        </tbody>
</table>