<body>
<div class="login-page">
  <div class="form">
    <form class="login-form" ng-submit="submit()" ng-controller="LoginCtrl">
      <input type="text" ng-model="username" name="username" placeholder="usuário" required/>
      <input type="password" ng-model="password" name="password" placeholder="senha" required/>
      <div class="erro">{{error}}</div>
      <button type="submit">login</button>
      <p class="message">Não registrado? <a href="#!cadastro">Crie uma conta</a></p>
    </form>
  </div>
</div>
</body>
