<footer class="footer">
    <div class="container">
        <nav class="navbar bg-faded fixed-bottom">
            <div class="navbar-nav">
                <a href="#!solicitacao" class="btn btn-success btn-block btn-lg">Nova Solicitação
                </a>
            </div>
        </nav>
    </div>
</footer>
